.empty {
  margin-left: 70rem;
  margin-top: -25rem;
  text-align: center;
}
.recipe-title {
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
}
.ingredients-title {
  margin-left: 20px;
  text-decoration: underline;
}
.recipe-list {
  height: 37rem;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 52rem;
  text-align: left;
  margin-top: -47rem;
  overflow-y: auto;
}
/* each recipe */
.recipe-details {
  position: relative;
  font-size: small;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 10px;
  height: 50%;
  border-style: outset;
  border-radius: 10px;
  border-width: thin;
  resize: none;
  font-family: "Manrope", sans-serif;
  font-size: small;
  border: none;
  background-color: #ebecf0;
  border-radius: 20px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
}
.recipe-close {
  margin-top: 10px;
  color: #61677c;
  font-weight: bolder;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 38rem;
  position: absolute;
  border-radius: 5px;
  border: 0;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  font-size: medium;
  width: 1rem;
  height: 1rem;
  text-align: justify;
}
.recipe-ingredient {
  margin: 10px;
  font-style: italic;
}
.recipes {
  position: absolute;
  border: dashed;
  margin-top: -50rem;
  width: 50rem;
  height: 45rem;
  margin-left: 52rem;
  border-radius: 100px;
  border-color: rgb(238, 191, 179);
  border-width: thick;
  overflow-y: scroll;
}
.recipe-instructions {
  font-style: italic;
}
.instructions-title {
  margin-left: 20px;
  text-decoration: underline;
}
